body {
  position: relative;
  border: 2px solid black;
  height: 100vh;
  background-color: #35654D;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
    "alerts betting betting"
    "game cards chips"
    "game cards chips";  
}
#alerts {
  grid-area: alerts;
  font-size: 1.56rem;
  color: white;
  border: 1px solid black;
}
#back-of-card {
  z-index: 10;
  background-color: #990000;
  border: 1px solid black;
  border-radius: 15px;
  width: 160px;
  height: 240px;
  display: none;
}
button {
  height: 4.68rem;
  width: 4.68rem;
  border: 2px solid white;
  border-radius: 20%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: brown;
}
#betting-function {
  grid-area: betting;
  border: 1px solid black;
  z-index: 11;
}
.chip {
  border-radius: 50%;
  color: white;
}
#white-chip {
  border: 2px solid black;
  background-color: #EEEEEE;
  color: black;
}
#red-chip {
  background-color: #DD0000;
}
#green-chip {
  background-color: #007700;
}
#blue-chip {
  background-color: #0000DD;
}
#black-chip {
  background-color: black;
}
#display-chips {
  grid-area: chips;
  border: 1px solid black;
  font-size: 1.875rem;
  color: white;
}
#table-decor {
  text-align: center;
  border: 2px solid black;
  font-size: 5rem;
}
#game-functions {
  grid-area: game;
  border: 1px solid black;
}
#display-cards {
  grid-area: cards;
  border: 1px solid black;
}