@media only screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  img {
    width: 80px;
    height: 120px;
  }
  .back-of-card {
    width: 80px;
    height: 120px;
  }
  #dealer-label {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  img {
    width: 106px;
    height: 160px;
  }
  .back-of-card {
    width: 106px;
    height: 160px;
  }
  #dealer-label {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  #dealer-label {
    z-index: 10;
    position: absolute;
    display: inline-block;
    transform: rotate(-60deg) translate(-2.7rem, 0.4rem);
    font-size: 3rem;
    color: #F0F0F0;
  }
}
body {
  position: relative;
  font-family: "Garamond", serif;
  height: 100vh;
  background-color: #35654D;
  display: grid;
  grid-template-columns: 1fr 5.2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 
    "betting betting betting"
    "game cards chips"
    "alerts alerts alerts";  
}
#alerts {
  grid-area: alerts;
  margin-top: 0;
  font-size: 1.875rem;
  color: #F0F0F0;
}
#dealer-cards {
  position: relative;
}
.back-of-card {
  background-image: radial-gradient(#E62E2E, #121212);
  border: 1px solid #121212;
  border-radius: 15px;
}
button {
  width: 100%;
  border: 1px solid #F0F0F0;
  font-family: "Garamond", serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
#betting-function {
  text-align: center;
  grid-area: betting;
  border: 1px solid #121212;
  background-color: brown;
  z-index: 11;
}
.chip {
  height: 4.68rem;
  width: 4.68rem;
  border-radius: 50%;
  color: #F0F0F0;
}
#white-chip {
  border: 2px solid #121212;
  background-image: radial-gradient(#F0F0F0, #DDDDDD);
  color: #121212;
}
#red-chip {
  background-image: radial-gradient(#DD0000, #121212);
}
#green-chip {
  background-image: radial-gradient(#007700, #121212);
}
#blue-chip {
  background-image: radial-gradient(#0000DD, #121212);
}
#black-chip {
  background-image: radial-gradient(#222222, #121212);
}
#display-chips {
  grid-area: chips;
  text-align: center;
  border: 1px solid #121212;
  font-size: 1.875rem;
  color: #F0F0F0;
}
#table-decor {
  text-align: center;
  border: 2px solid #121212;
  font-family: "Times New Roman", serif;
  font-size: 5rem;
}
#game-functions {
  text-align: center;
  grid-area: game;
  border: 1px solid #121212;
}
#display-cards {
  grid-area: cards;
  border: 1px solid #121212;
}
